{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src={% static "js/base.js" %}></script>
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url "MyApp:home" %}">Project Management</a>
        <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <h2 class="navbar-text">{{ request.user.username }}</h2>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "MyApp:logout" %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "MyApp:login" %}">Login</a>
            </li>
        {% endif %}
        </ul>
    </nav>
    <div id="main-content" class="container-sm border">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>