{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Welcome to Project Management{% endblock %}
{% block content %}
<div class="card-columns">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Project</h4>
            <button class="btn btn-primary btn-lg" type="button"  data-toggle="modal" data-target="#createpro">Create</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List All Projects</h4>
            <button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#listpro">View</button>
        </div>
    </div>
</div>
<!-- List All Project -->
<div class="modal fade" id="listpro" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">All Projects</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for project in projects %}
                        <li class="list-group-item d-flex justify-content-between align-items-center" id="project_{{project.id}}">
                            {{ project.name }}
                            {% if request.user.is_manager %}
                            <div class="row">
                            <span class="badge badge-info">
                                <a href="{% url 'MyApp:edit' project.id %}"><button type="button" class="btn btn-info">Edit</button></a>
                            </span>
                            <span class="badge badge-warning" style="margin-left: 5px;">
                                <button class="btn btn-warning btn-sm" onclick="submit_delete({{ project.id }})" >Delete</button>
                            </span>
                            </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Create New Project -->
<div class="modal fade" id="createpro" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Create Projects</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                {% crispy form %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit Project-->
<div class="modal fade" id="editpro" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Edit Projects</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                {% crispy form %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
